<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="KatalonDEMO Test Automation Test Suite">

	<listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>

	<test name="KatalonDEMO">
		<classes>
			<class name="com.katalon.HomePageTest"></class>
			<class name="HomePageTest"></class>
		</classes>
	</test>
</suite>